<?xml version='1.0' encoding='utf-8'?>
<widget id="io.colorgy.cordovaapp" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Colorgy</name>
    <description>
        Colorgy App.
    </description>
    <author email="hello@colorgy.io" href="https://colorgy.io">
        Colorgy Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*://colorgy.io/*" />
    <allow-navigation href="*://*.colorgy.io/*" />
    <allow-navigation href="*://*.clg.io/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <icon src="www/android-app-icon.png" />
        <splash src="www/app-screen.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon src="www/ios-app-icon.png" />
        <splash src="www/app-screen.png" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <feature name="UniversalAnalytics">
        <param name="ios-package" value="UniversalAnalyticsPlugin" />
        <param name="android-package" value="com.danielcwilson.plugins.analytics.UniversalAnalyticsPlugin" />
    </feature>
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.3.0" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="io.litehelpers.cordova.sqlite" spec="~0.7.7" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
</widget>
